# Python bytecode
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Generated data and resources
data/
resources/
report/

# Logs
*.log

# Temporary files
*.tmp
*.temp
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.spec 

*Identifier
*.csv